html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 124, 145);
}

h1 {
    margin-top: 10px;;
    margin-bottom: 5px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    color: gold;
}

h2{
    color: white;
}

#message {
    margin-top: 0;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

td {
    height: 150px;
    width: 150px;
}


td div {
    margin: 0 auto;
    width: 50px;
    color: white;
    pointer-events: none;
   
    
}

div {
    margin: 0 auto;
   font-size: 100px;
   justify-content: center;
}

tr td:nth-child(2) {
    border-left: 4px solid gold;
    border-right:4px solid gold;
}

tr:nth-child(2) td {
border-top: 4px solid gold;
border-bottom: 4px solid gold;
}


button {
    width: 80px;
    background-color: red;
    border-radius: 8px 0;
}